# Python Boot Camp - September 2024
### Day 4 (September 26th 2024)

#### Planned topics for the day
 - Lists, Sets and Dictionaries
 - Functions and function prototypes

In [4]:
a = [10, 20, 30, 40, 50]
#a.insert(len(a), 60)
a.append(60)
a

[10, 20, 30, 40, 50, 60]

In [7]:
a = [10, 20, 30, 40]
b = [55, 66, 77]

a.append(b)
print(a, len(a))

[10, 20, 30, 40, [55, 66, 77]] 5

In [10]:
a = [10, 20, 30, 40]
b = [55, 66, 77]

a.extend(b)
print(a, len(a))
a.extend("hello")
a

[10, 20, 30, 40, 55, 66, 77] 7

[10, 20, 30, 40, 55, 66, 77, 'h', 'e', 'l', 'l', 'o']

In [12]:
a = 10, 20, 30
b = 40, 50, 60
print(a, b)
print(id(a), a)
a += b  # a = a + b
print(id(a), a)

(10, 20, 30) (40, 50, 60)
1965957607680 (10, 20, 30)
1965956917824 (10, 20, 30, 40, 50, 60)

In [13]:
a = [10, 20, 30]
b = 40, 50, 60
print(a, b)
print(id(a), a)
a += b  # a.__iadd__(b) -> list.__iadd__(a, b)
print(id(a), a)

[10, 20, 30] (40, 50, 60)
1965957692352 [10, 20, 30]
1965957692352 [10, 20, 30, 40, 50, 60]

In [15]:
a = [11, 22, 33, 44, 55, 66, 77]
print(a)
del a[0]
print(a)

[11, 22, 33, 44, 55, 66, 77]
[22, 33, 44, 55, 66, 77]

In [16]:
a = [11, 22, 33, 44, 55, 66, 77]
print(a)
v = del a[0]
print(a)

SyntaxError: invalid syntax (2057329133.py, line 3)

In [19]:
a = [11, 22, 33, 44, 55, 66, 77]
print(a)
v = a.pop(0)
print(f"{a=}, {v=}")

v = a.pop(0)
print(f"{a=}, {v=}")

[11, 22, 33, 44, 55, 66, 77]
a=[22, 33, 44, 55, 66, 77], v=11
a=[33, 44, 55, 66, 77], v=22

In [21]:
a = [11, 22, 33, 44, 55, 66, 77]
print(a)
v = a.pop(8)
print(f"{a=}, {v=}")

[11, 22, 33, 44, 55, 66, 77]

IndexError: pop index out of range

In [22]:
a = [11, 22, 33, 44, 55, 66, 77]
print(a)
v = a.pop()
print(f"{a=}, {v=}")

[11, 22, 33, 44, 55, 66, 77]
a=[11, 22, 33, 44, 55, 66], v=77

In [23]:
a = [11, 22, 33, 44]

while a:
    v = a.pop()
    print(f"{a=}, {v=}")

a=[11, 22, 33], v=44
a=[11, 22], v=33
a=[11], v=22
a=[], v=11

In [24]:
# Implementing a stack using a list
stack = []

# Push items into the stack
while (v := int(input("Enter a value (or 0 to stop): "))):
    stack.append(v)
    print(f"{stack=}")

# Pop items from the stack
while stack:
    v = stack.pop()
    print(f"{v=}, {stack=}")

stack=[34]
stack=[34, 56]
stack=[34, 56, 12]
stack=[34, 56, 12, 45]
stack=[34, 56, 12, 45, 38]
stack=[34, 56, 12, 45, 38, 17]
v=17, stack=[34, 56, 12, 45, 38]
v=38, stack=[34, 56, 12, 45]
v=45, stack=[34, 56, 12]
v=12, stack=[34, 56]
v=56, stack=[34]
v=34, stack=[]

In [25]:
# Implementing a queue using a list
queue = []

# Enqueue items into the queue
while (v := int(input("Enter a value (or 0 to stop): "))):
    queue.append(v)
    print(f"{queue=}")

# Dequeue items from the queue
while queue:
    v = queue.pop(0)
    print(f"{v=}, {queue=}")

queue=[10]
queue=[10, 20]
queue=[10, 20, 30]
queue=[10, 20, 30, 40]
v=10, queue=[20, 30, 40]
v=20, queue=[30, 40]
v=30, queue=[40]
v=40, queue=[]

In [ ]:
a = [10, 20, "hello", [40, 50, 60]]

In [27]:
from collections import deque
# A deque is a circular doubly-linked-list implementation in python
# However, it is categorized as a sequence.
# It is most suitable for implementing large queues

#queue = deque([10, 20, 30, 40, 50])
queue = deque()

# Enqueue items into the queue
while (v := int(input("Enter a value (or 0 to stop): "))):
    queue.append(v)
    print(f"{queue=}")

# Dequeue items from the queue
while queue:
    v = queue.popleft()
    print(f"{v=}, {queue=}")

queue=deque([10])
queue=deque([10, 20])
queue=deque([10, 20, 30])
v=10, queue=deque([20, 30])
v=20, queue=deque([30])
v=30, queue=deque([])

In [ ]:
# List methods:
# .index(), .count()
# .append(), .extend(), .insert(), .pop(), .remove()
# .copy(), .clear()
# .reverse(), .sort()

In [30]:
a = [22, 33, 67, 44, 2, 67, 43, 67, 11, 89]
#a.pop(a.index(67))
print(a)
a.remove(67)
print(a)

[22, 33, 67, 44, 2, 67, 43, 67, 11, 89]
[22, 33, 44, 2, 67, 43, 67, 11, 89]

In [31]:
a = [22, 33, 67, 44, 2, 67, 43, 67, 11, 89]
print(a, id(a))
a = [ x for x in a if x != 67 ]
print(a, id(a))

[22, 33, 67, 44, 2, 67, 43, 67, 11, 89] 1965971799488
[22, 33, 44, 2, 43, 11, 89] 1965971792192

In [32]:
a = [22, 33, 67, 44, 2, 67, 43, 67, 11, 89]
print(a, id(a))
while 67 in a:
    a.remove(67)
print(a, id(a))

[22, 33, 67, 44, 2, 67, 43, 67, 11, 89] 1965971784320
[22, 33, 44, 2, 43, 11, 89] 1965971784320

In [35]:
a = [22, 33, 67, 44, 2, 67, 43, 67, 11, 89] * 100
print(a, id(a))

[22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89, 22, 33, 67, 44, 2, 67, 43, 67, 11, 89] 1965971794944

In [36]:
%%timeit

while 67 in a:
    a.remove(67)

9.02 μs ± 190 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [39]:
%%timeit

for v in a:
    if v == 67: a.remove(v)

17.1 μs ± 535 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [ ]:
print(a, id(a))

In [41]:
a = [11, 22, 33, 44, 55]
b = a
print(a, b)
a.pop()
print(a, b)

[11, 22, 33, 44, 55] [11, 22, 33, 44, 55]
[11, 22, 33, 44] [11, 22, 33, 44]

In [45]:
a = [11, 22, 33, 44, 55]
#b = a[:]
b = a.copy()
print(a, b)
a.pop()
print(a, b)
print(id(a), id(b))

[11, 22, 33, 44, 55] [11, 22, 33, 44, 55]
[11, 22, 33, 44] [11, 22, 33, 44, 55]
1965971796160 1965971795712

In [46]:
a = [10, [20, 30], 40]
b = a
c = a.copy()

a[0] = 100
print(a, b, c, sep="\n")

[100, [20, 30], 40]
[100, [20, 30], 40]
[10, [20, 30], 40]

In [47]:
a = [10, [20, 30], 40]
b = a
c = a.copy()

a[1][0] = 100
print(a, b, c, sep="\n")

[10, [100, 30], 40]
[10, [100, 30], 40]
[10, [100, 30], 40]

In [48]:
from copy import deepcopy

a = [10, [20, 30], 40]
b = a
c = deepcopy(a)

a[1][0] = 100
print(a, b, c, sep="\n")

[10, [100, 30], 40]
[10, [100, 30], 40]
[10, [20, 30], 40]

In [52]:
a = list(range(1_000_000))

In [53]:
%%timeit
b = a.copy()

9.53 ms ± 185 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [54]:
%%timeit
b = a[:]

9.31 ms ± 295 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [55]:
a = [11, 23, 43, 67, 88, 65, 34]
b = a

a = []
print(b)

[11, 23, 43, 67, 88, 65, 34]

In [57]:
a = [11, 23, 43, 67, 88, 65, 34]
b = a

#del a[:]
a.clear()
print(b)

[]

In [58]:
# To create a reverse-copy of a list:
a = [12, 43, 67, 89]
b = a[::-1]

print(a, b)

[12, 43, 67, 89] [89, 67, 43, 12]

In [61]:
# To iterate a list in reverse order

for v in reversed(a):
    print(v)

b = reversed(a)
b

89
67
43
12

In [62]:
# To reverse a list in-place

a = [12, 43, 67, 89]
a.reverse()
print(a)

[89, 67, 43, 12]

In [63]:
a = [11, 34, 54, 12, 78]
b = a.reverse()  # Common patterns to avoid in your code
print(b)

None

In [64]:
a = [11, 34, 54, 12, 78]

for v in a.reverse():  # A common mistake by python newbies
    print(v)

TypeError: 'NoneType' object is not iterable

In [65]:
a = [34, 12, 78, 53, 27, 19, 35]
b = sorted(a) # Note: sorted() always returns a copy as a list
print(a, b)

# Use sorted() function to create a sorted copy of a list or 
# to iterate a list in sorted order

[34, 12, 78, 53, 27, 19, 35] [12, 19, 27, 34, 35, 53, 78]

In [67]:
a = [34, 12, 78, 53, 27, 19, 35]
a.sort()
print(a)

b = a.sort()
print(b)

[12, 19, 27, 34, 35, 53, 78]
None

In [68]:
a = [34, 12, 78, 53, 27, 19, 35]
a.sort(reverse=True)
print(a)

[78, 53, 35, 34, 27, 19, 12]

list.sort() and the builtin sorted() function work on homogenous collections where items are comparable

### Set 
#### A mutable unordered collection of unique hashable items

In [81]:
a = {11, 22, 33, 44, 55, 66, 77, 88} # Literal notation
print(a)

a = set([22, 33, 44, 55, 66]) # Constructor expression
print(a)

a = { v*v for v in range(20) } # Comprehension
print(a)

{33, 66, 11, 44, 77, 22, 55, 88}
{33, 66, 44, 22, 55}
{0, 1, 256, 4, 9, 16, 144, 25, 289, 36, 169, 49, 64, 196, 324, 81, 225, 100, 361, 121}

In [82]:
a = {45, [22, 33, 44, 55], 56, 78, 23}

TypeError: unhashable type: 'list'

In [83]:
a = {45, {22, 33, 44, 55}, 56, 78, 23}

TypeError: unhashable type: 'set'

In [89]:
a = [12, 34, 54, (32, 45), 67, [11, 22], 56, [22, 44], bytearray(b"hello")]

s = { v for v in a if type(v) not in (list, bytearray) }
s

{(32, 45), 12, 34, 54, 56, 67}

In [91]:
a = [12, 34, 54, (32, 45), 67, [11, 22], 56, [22, 44], bytearray(b"hello")]

def hashable(v):
    try:
        hash(v)
    except:
        return False
    else:
        return True

s = { v for v in a if hashable(v) }
s

{(32, 45), 12, 34, 54, 56, 67}

In [92]:
s = {11, 22, 33, 22, 44, 55, 22, 11, 55, 22, 33, 11, 11, 22, 33, 22, 33, 44}
print(s)

{33, 22, 55, 11, 44}

In [70]:
a = {11, 22, 33, 44, 55, 66, 77, 88}
print(a)

{33, 66, 11, 44, 77, 22, 55, 88}

In [76]:
a = list(range(100_000))
b = set(range(100_000))

In [73]:
%timeit 9999 in a

134 μs ± 3.08 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [77]:
%timeit 99999 in a

1.39 ms ± 28.2 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [74]:
%timeit 9999 in b

47.6 ns ± 3.44 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [78]:
%timeit 99999 in b

47 ns ± 2.53 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [94]:
s = {12, 33, 44, 55, 66, 77, 88, 99}
print(s)
s[0]

{33, 66, 99, 12, 44, 77, 55, 88}

TypeError: 'set' object is not subscriptable

In [96]:
s = {12, 33, 44, 55, 66, 77, 88, 99}

s.add(100)
print(s)

s.add(47)
print(s)

{33, 66, 99, 100, 12, 44, 77, 55, 88}
{33, 66, 99, 100, 12, 44, 77, 47, 55, 88}

In [99]:
s = {10, 20, 30, 40, 50}
print(s)
a = {55, 66, 77}
print(a)
s.update(a)
print(s)

{50, 20, 40, 10, 30}
{66, 77, 55}
{50, 66, 20, 55, 40, 10, 77, 30}

In [100]:
s = {10, 20, 30, 40, 50}
s.remove(30)
print(s)

{50, 20, 40, 10}

In [101]:
s = {10, 20, 30, 40, 50}
while s:
    v = s.pop()
    print(v, end=" ")

50 20 40 10 30

In [105]:
a = []
print(a, type(a))
b = ()
print(b, type(b))
c = {}
print(c, type(c))
d = set()
print(d, type(d))

[] <class 'list'>
() <class 'tuple'>
{} <class 'dict'>
set() <class 'set'>

In [107]:
s = {33, 44, 55, 33, 22, 55, 66}
print(s)
s.clear()
print(s)

{33, 66, 22, 55, 44}
set()

In [108]:
s = {33, 44, 55, 33, 22, 55, 66}
s1 = s.copy()
print(s, s1)
print(id(s), id(s1))

{33, 66, 22, 55, 44} {33, 66, 22, 55, 44}
1965980146304 1965980146976

In [ ]:
### Set methods:
## .add(), .update(), .pop(), .remove()
## .copy(), .clear()

In [109]:
a = [33, 44, 33, 55, 66, 77, 12, 43, 56, 89, 21, 32, 33, 44, 55, 12, 89]
b = list(set(a))
print(b)

[32, 33, 66, 43, 44, 77, 12, 21, 55, 56, 89]

In [110]:
a = [12, 32, 55, 65, 28, 76, 19]
b = [12, 32, 65, 43, 76, 55, 15]

c = []
for v in a:
    if v in b:
       c.append(v)
c

[12, 32, 55, 65, 76]

In [112]:
a = {12, 32, 55, 65, 28, 76, 19}
b = {12, 32, 65, 43, 76, 55, 15}

c = a & b # Set intersection
c

{12, 32, 55, 65, 76}

In [113]:
a = [12, 32, 55, 65, 28, 76, 19]
b = [12, 32, 65, 43, 76, 55, 15]

c = list(set(a) & set(b))
c

[32, 65, 12, 76, 55]

In [111]:
a = [12, 32, 55, 65, 28, 76, 19]
b = [12, 32, 65, 43, 76, 55, 15]

c = []
for v in a:
    if v not in b:
       c.append(v)
c

[28, 19]

In [119]:
a = {12, 32, 55, 65, 28, 76, 19}
b = {12, 32, 65, 43, 76, 55, 15}

c = {65, 19, 32}

print(a & b) # Set intersection
print(a - b) # Set difference
print(b - a)
print(a | b)  # Set union
print(a ^ b)  # Symmetric difference (a | b) - (a & b)
print(c < a)  # check if c is a subset of a
print(a > c)  # check if a is a superset of c
print(c < b)
print(c > c)

{32, 65, 12, 76, 55}
{19, 28}
{43, 15}
{32, 65, 43, 12, 76, 15, 19, 55, 28}
{19, 43, 28, 15}
True
True
False
False

In [122]:
import os
os.getcwd()
os.__dict__["getcwd"]()

'c:\\Users\\chandra\\Python_Boot_Camp\\pbc_sep2024\\day4'

#### Dictionary:
##### A mutable collection of key:value pairs where keys are unique and hashable

In [134]:
d = {"name": "John", "role": "developer", "dept": "Engineering"}  # Literal notation
print(d, type(d))

keys = "name", "role", "dept"
values = "John", "developer", "Engineering"
print(keys, values)

d = dict(zip(keys, values))  # Constructor expression with 2-element zip object
print(d)

# Constructor expression with keyword arguments
d = dict(name="John", role="developer", dept="Engineering") 
print(d)

d = { v: v*v for v in range(10) }  # dictionary comprehension
print(d)

{'name': 'John', 'role': 'developer', 'dept': 'Engineering'} <class 'dict'>
('name', 'role', 'dept') ('John', 'developer', 'Engineering')
{'name': 'John', 'role': 'developer', 'dept': 'Engineering'}
{'name': 'John', 'role': 'developer', 'dept': 'Engineering'}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [131]:
d = {"name": "John", "2role": "developer", "dept": "Engineering", 10: 20}

d = dict(name="John", role="developer", dept="Enginnering", 10=20)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2847626883.py, line 3)

In [132]:
d = {
     "name": "John", 
     "role": "developer", 
     "dept": "Engineering", 
     "name": "Smith"
}

d

{'name': 'Smith', 'role': 'developer', 'dept': 'Engineering'}

In [133]:
d = dict(
    name="John",
    role="Developer",
    dept="Engineering",
    name="Smith"
)

d

SyntaxError: keyword argument repeated: name (2417299124.py, line 5)

In [136]:
d = {
     "name": "John", 
     "role": "developer", 
     "dept": "Engineering", 
     "name": "Smith"
}
print(d)
print(d["role"])

{'name': 'Smith', 'role': 'developer', 'dept': 'Engineering'}
developer

In [137]:
d = {
     "name": "John", 
     "role": "developer", 
     "dept": "Engineering", 
     "name": "Smith"
}
print(d)
print(d["place"])

{'name': 'Smith', 'role': 'developer', 'dept': 'Engineering'}

KeyError: 'place'

In [139]:
d = {
     "name": "John", 
     "role": "developer", 
     "dept": "Engineering", 
     "name": "Smith"
}
print(d)
print("place" in d, "dept" in d)

{'name': 'Smith', 'role': 'developer', 'dept': 'Engineering'}
False True

In [143]:
d = {
     "name": "John", 
     "role": "developer", 
     "dept": "Engineering", 
     "name": "Smith"
}

k = "designation"
v = d[k] if k in d else "not found"
print(v)

not found

In [147]:
d = {
     "name": "John", 
     "role": "developer", 
     "dept": "Engineering", 
     "name": "Smith"
}

k = "dept"
#v = d[k] if k in d else "not found"
v = d.get(k, "not found")
print(v)

v = d.get("dept")
print(v)

v = d.get("place")
print(v)

Engineering
Engineering
None

In [151]:
d = {
     "name": "John", 
     "role": "developer", 
     "dept": "Engineering", 
     "name": "Smith"
}

print(d)
d["name"] = "Mary"
print(d)
d["place"] = "Sydney"
print(d)

del d["dept"]
print(d)

{'name': 'Smith', 'role': 'developer', 'dept': 'Engineering'}
{'name': 'Mary', 'role': 'developer', 'dept': 'Engineering'}
{'name': 'Mary', 'role': 'developer', 'dept': 'Engineering', 'place': 'Sydney'}
{'name': 'Mary', 'role': 'developer', 'place': 'Sydney'}

In [152]:
# Dictionary methods:
#  .get(), .keys(), .values(), .items()
#  .update(), .pop(), .popitem(), .clear(), .copy()
#  .setdefault(), .fromkeys()
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [158]:
d = {"name": "Smith", "role": "Manager"}

v = d.setdefault("name", "Guest")
print(v, d)

v = d.setdefault("dept", "Engineering")
print(v, d)

Smith {'name': 'Smith', 'role': 'Manager'}
Engineering {'name': 'Smith', 'role': 'Manager', 'dept': 'Engineering'}

In [163]:
d = {"name": "Smith", "role": "Manager"}
print(d)

e = d.fromkeys(d)
print(e)

keys = "name", "place", "role", "dept"
d = dict().fromkeys(keys)
d

{'name': 'Smith', 'role': 'Manager'}
{'name': None, 'role': None}

{'name': None, 'place': None, 'role': None, 'dept': None}

In [165]:
d = {"name": "Smith", "role": "Manager"}
print(d.keys(), d.values(), d.items(), sep="\n")

dict_keys(['name', 'role'])
dict_values(['Smith', 'Manager'])
dict_items([('name', 'Smith'), ('role', 'Manager')])

In [166]:
# To iterate over keys and values of a dictionary:
for k, v in d.items():
    print(f"{k} => {v}")

name => Smith
role => Manager

In [167]:
# To iterate over values of a dictionary:
for v in d.values():
    print(f"{v=}")

v='Smith'
v='Manager'

In [169]:
# To iterate over keys of a dictionary:
for k in d.keys():  # Avoid this! the .keys() method is not necessary
    print(f"{k=}")

k='name'
k='role'

In [171]:
# To iterate over keys of a dictionary:
for k in d: # This is the correct way!
    print(f"key={k},  value={d[k]}")

key=name,  value=Smith
key=role,  value=Manager

In [175]:
d
e = d.copy()
print(d, e)
print(id(d), id(e))

d.clear()
print(d)

{'name': 'Smith', 'role': 'Manager'} {'name': 'Smith', 'role': 'Manager'}
1965972966912 1965972824384
{}

In [177]:
d = {"name": "John", "role": "Developer"}
e = {"role": "Administrator", "dept": "Engineering"}
print(d, e)

d.update(e)
print(d)

{'name': 'John', 'role': 'Developer'} {'role': 'Administrator', 'dept': 'Engineering'}
{'name': 'John', 'role': 'Administrator', 'dept': 'Engineering'}

In [178]:
d = {"name": "John", "role": "Developer"}
e = {"role": "Administrator", "dept": "Engineering"}

a = d + e

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [179]:
d = {"name": "John", "role": "Developer"}
e = {"role": "Administrator", "dept": "Engineering"}

a = d | e # Python 3.9+ -> This is the preferred way to merge dictionaries newer Python versions
print(a)

{'name': 'John', 'role': 'Administrator', 'dept': 'Engineering'}

In [180]:
d = {"name": "John", "role": "Developer"}
e = {"role": "Administrator", "dept": "Engineering"}

a = {**d, **e}  # Dictionary expansion hack! Supported from Python 3.4+
print(a)

{'name': 'John', 'role': 'Administrator', 'dept': 'Engineering'}

In [184]:
d = {"name": "John", "role": "Developer"}
e = {"role": "Administrator", "dept": "Engineering"}

print(d.keys() | e.keys())
print(d.items() | e.items())
print(d.keys() & e.keys())

{'name', 'role', 'dept'}
{('dept', 'Engineering'), ('name', 'John'), ('role', 'Administrator'), ('role', 'Developer')}
{'role'}

In [185]:
d = {"name": "John", "role": "Developer"}
e = {"role": "Administrator", "dept": "Engineering"}

a = dict(d.items() | e.items()) # Python 3.0 ~ 3.3
print(a)

{'dept': 'Engineering', 'name': 'John', 'role': 'Developer'}

In [186]:
e = {"role": "Administrator", "dept": "Engineering"}

v = e.pop("role")
print(f"{v=}, {e=}")

v='Administrator', e={'dept': 'Engineering'}

In [187]:
d = {"role": "Administrator", "dept": "Engineering"}

k, v = d.popitem()
print(k, v)
print(d)

dept Engineering
{'role': 'Administrator'}

In [189]:
d = {"role": "Administrator", "dept": "Engineering"}

while d:
    k, v = d.popitem()
    print(k, v)

dept Engineering
role Administrator

In [194]:
s = """
When I see a bird,
  that walks like a duck
  quacks like a duck
  and swims like a duck
  I call that bird a duck
"""

def count_words(s):
    count = {}
    for word in s.split():
        if word in count:
            count[word] += 1
        else:
            count[word] = 1

    for word, freq in count.items():
        print(f"'{word}' occurs {freq} times") 

count_words(s)
# OUT: 'When' occurs 1 times
# OUT: 'I' occurs 2 times
# OUT: 'see' occurs 1 times
# ...

'When' occurs 1 times
'I' occurs 2 times
'see' occurs 1 times
'a' occurs 5 times
'bird,' occurs 1 times
'that' occurs 2 times
'walks' occurs 1 times
'like' occurs 3 times
'duck' occurs 4 times
'quacks' occurs 1 times
'and' occurs 1 times
'swims' occurs 1 times
'call' occurs 1 times
'bird' occurs 1 times

In [195]:
s = """
When I see a bird,
  that walks like a duck,
  quacks like a duck,
  and swims like a duck,
  I call that bird a duck
"""

def count_words(s):
    count = {}
    for word in s.split():
        count[word] = count.get(word, 0) + 1

    for word, freq in count.items():
        print(f"'{word}' occurs {freq} times") 

count_words(s)
# OUT: 'When' occurs 1 times
# OUT: 'I' occurs 2 times
# OUT: 'see' occurs 1 times
# ...

'When' occurs 1 times
'I' occurs 2 times
'see' occurs 1 times
'a' occurs 5 times
'bird,' occurs 1 times
'that' occurs 2 times
'walks' occurs 1 times
'like' occurs 3 times
'duck,' occurs 3 times
'quacks' occurs 1 times
'and' occurs 1 times
'swims' occurs 1 times
'call' occurs 1 times
'bird' occurs 1 times
'duck' occurs 1 times

In [205]:
s = """
When I see a bird,
  that walks like a duck,
  quacks like a duck,
  and swims like a duck,
  I call that bird a duck
"""

def count_words(s):
    import re
    count = {}
    for word in re.split(r"\W+", s):
        count[word] = count.get(word, 0) + 1

    for word, freq in count.items():
        print(f"'{word}' occurs {freq} times") 

count_words(s)
# OUT: 'When' occurs 1 times
# OUT: 'I' occurs 2 times
# OUT: 'see' occurs 1 times
# ...

'' occurs 2 times
'When' occurs 1 times
'I' occurs 2 times
'see' occurs 1 times
'a' occurs 5 times
'bird' occurs 2 times
'that' occurs 2 times
'walks' occurs 1 times
'like' occurs 3 times
'duck' occurs 4 times
'quacks' occurs 1 times
'and' occurs 1 times
'swims' occurs 1 times
'call' occurs 1 times

In [199]:
import re
s = "this. is a test this test. test test,test"
re.split(r"\W+", s)

['this', 'is', 'a', 'test', 'this', 'test', 'test', 'test', 'test']

In [206]:
s = """
When I see a bird,
  that walks like a duck,
  quacks like a duck,
  and swims like a duck,
  I call that bird a duck
"""

def count_words(s):
    from collections import Counter
    count = Counter(s.split())
    
    for word, freq in count.items():
        print(f"'{word}' occurs {freq} times") 

count_words(s)
# OUT: 'When' occurs 1 times
# OUT: 'I' occurs 2 times
# OUT: 'see' occurs 1 times
# ...

'When' occurs 1 times
'I' occurs 2 times
'see' occurs 1 times
'a' occurs 5 times
'bird,' occurs 1 times
'that' occurs 2 times
'walks' occurs 1 times
'like' occurs 3 times
'duck,' occurs 3 times
'quacks' occurs 1 times
'and' occurs 1 times
'swims' occurs 1 times
'call' occurs 1 times
'bird' occurs 1 times
'duck' occurs 1 times

In [210]:
from collections import Counter

a = [33, 44, 33, 22, 33, 44, 55, 44, 33, 66, 54, 56, 33, 22, 33, 44, 33]
print(Counter(a))
print(Counter(a).most_common(4))

Counter({33: 7, 44: 4, 22: 2, 55: 1, 66: 1, 54: 1, 56: 1})
[(33, 7), (44, 4), (22, 2), (55, 1)]

In [215]:
from collections import defaultdict

d = defaultdict(int)

d["name"] = "Smith"
d["role"] = "Developer"

print(d["name"], d["role"])
print(d)
print(d["place"], d)

Smith Developer
defaultdict(<class 'int'>, {'name': 'Smith', 'role': 'Developer'})
0 defaultdict(<class 'int'>, {'name': 'Smith', 'role': 'Developer', 'place': 0})

In [213]:
list()

[]

In [217]:
s = """
When I see a bird,
  that walks like a duck,
  quacks like a duck,
  and swims like a duck,
  I call that bird a duck
"""

def count_words(s):
    from collections import defaultdict
    count = defaultdict(int)
    for word in s.split():
        count[word] += 1
    
    for word, freq in count.items():
        print(f"'{word}' occurs {freq} times") 

count_words(s)
# OUT: 'When' occurs 1 times
# OUT: 'I' occurs 2 times
# OUT: 'see' occurs 1 times
# ...

'When' occurs 1 times
'I' occurs 2 times
'see' occurs 1 times
'a' occurs 5 times
'bird,' occurs 1 times
'that' occurs 2 times
'walks' occurs 1 times
'like' occurs 3 times
'duck,' occurs 3 times
'quacks' occurs 1 times
'and' occurs 1 times
'swims' occurs 1 times
'call' occurs 1 times
'bird' occurs 1 times
'duck' occurs 1 times

In [224]:
data = [45, 4.5, 23, 5.6, [11, 22, 33], True, 12, "hello", True, 4.2, "test"]

def organize(data):
    from collections import defaultdict
    d = defaultdict(list)
    for v in data:
        n = type(v).__name__
        d[n].append(v)
    return d

result = organize(data)
print(result)
# OUT: {'int': [45, 23, 12], 'float': [4.5, 5.6, 4.2], 
# OUT   'list': [[11, 22, 33]], 'bool': [True, True], 'str': ["hello", "test"]}

defaultdict(<class 'list'>, {'int': [45, 23, 12], 'float': [4.5, 5.6, 4.2], 'list': [[11, 22, 33]], 'bool': [True, True], 'str': ['hello', 'test']})

In [225]:
data = [45, 4.5, 23, 5.6, [11, 22, 33], True, 12, "hello", True, 4.2, "test"]

def organize(data):
    d = {}
    for v in data:
        n = type(v).__name__
        d.setdefault(n, []).append(v)
    return d

result = organize(data)
print(result)
# OUT: {'int': [45, 23, 12], 'float': [4.5, 5.6, 4.2], 
# OUT   'list': [[11, 22, 33]], 'bool': [True, True], 'str': ["hello", "test"]}

{'int': [45, 23, 12], 'float': [4.5, 5.6, 4.2], 'list': [[11, 22, 33]], 'bool': [True, True], 'str': ['hello', 'test']}

In [220]:
print(int.__name__)

int

In [222]:
a = 10
n = type(a).__name__
print(f"{a} belongs to {n} class")

10 belongs to int class

#### Functions in Python

In [228]:
def greet():
    print("Hello, world")

greet("John")

TypeError: greet() takes 0 positional arguments but 1 was given

In [230]:
def greet():
    print("Hello, world")

def greet(user):
    print("Hello,", user)

greet("John")
greet()

Hello, John

TypeError: greet() missing 1 required positional argument: 'user'

In [232]:
def greet(user="world"): # function definition with default arguments (default-args)
    print("Hello,", user)

greet("John")
greet()

Hello, John
Hello, world

In [234]:
def greet(user, place):
    print(f"Hello {user}, Welcome to {place}")

greet("John", "Mumbai") # Calling functions with positional arguments

Hello John, Welcome to Mumbai

In [236]:
def greet(user, place):
    print(f"Hello {user}, Welcome to {place}")

greet("Mumbai", "John") # Calling functions with positional arguments
greet(place="Mumbai", user="John") # Calling functions with keyword arguments

Hello Mumbai, Welcome to John
Hello John, Welcome to Mumbai

In [239]:
def greet(user, place="Pune"):
    print(f"Hello {user}, Welcome to {place}")

greet("John")
greet("Smith", "Noida")

Hello John, Welcome to Pune
Hello Smith, Welcome to Noida

Function prototype and call rules:
   1. When defining functions, non-default arguments must not follow default arguments
   2. When calling functions, positional arguments must not follow keyword arguments

In [240]:
def greet(user="Guest", place):
    print(f"Hello {user}, Welcome to {place}")

greet("John")
greet("Smith", "Noida")

SyntaxError: parameter without a default follows parameter with a default (2321632583.py, line 1)

In [242]:
def greet(user="Guest", place="Bengaluru"):
    print(f"Hello {user}, Welcome to {place}")

greet()
greet("John")
greet("Smith", "Noida")
greet(place="Delhi")

Hello Guest, Welcome to Bengaluru
Hello John, Welcome to Bengaluru
Hello Smith, Welcome to Noida
Hello Guest, Welcome to Delhi

In [244]:
def greet(user="Guest", place="Bengaluru"):
    print(f"Hello {user}, Welcome to {place}")

greet(place="Delhi", "Smith")

SyntaxError: positional argument follows keyword argument (3346170330.py, line 4)

In [251]:
def add_record(user, role="Developer", dept="IT", place="Noida", age=23):
    if age < 23:
        raise ValueError("Invalid age (must be greater than 22)")
    print(f"{user=}, {role=}, {dept=}, {place=}, {age=}")

add_record("Jones", place="Seattle", age=35)

user='Jones', role='Developer', dept='IT', place='Seattle', age=35

In [255]:
# Variable arguments / var-args / arbitrary-argument-lists / star-args / splat-args

def greet(*users):
    print(users, type(users))

greet("John")
greet("Sam", "Smith", "Guido", "Dave")

('John',) <class 'tuple'>
('Sam', 'Smith', 'Guido', 'Dave') <class 'tuple'>

In [256]:
# Variable arguments / var-args / arbitrary-argument-lists / star-args / splat-args

def greet(*users):
    for u in users:
        print("Hello,", u)
    print("-" * 10)

greet("John")
greet("Sam", "Smith", "Guido", "Dave")

Hello, John
----------
Hello, Sam
Hello, Smith
Hello, Guido
Hello, Dave
----------

In [266]:
# From Python 3.4 onwards,
# In function definition, if you mix different forms of arguments:
# non-default-args, var-args, keyword-arguments

def testfn(x, y=20, *z):
    print(f"{x=}, {y=}, {z=}")

testfn(10)
#testfn(10,, 100, 200, 300)
#testfn(10, z=(100, 200, 300))
testfn(10, 50, 100, 200, 300)

x=10, y=20, z=()
x=10, y=50, z=(100, 200, 300)

In [265]:
# From Python 3.4 onwards,
# In function definition, if you mix different forms of arguments:
# non-default-args, var-args, keyword-arguments

def testfn(x, *z, y=20):
    print(f"{x=}, {y=}, {z=}")

testfn(10)
#testfn(10,, 100, 200, 300)
#testfn(10, z=(100, 200, 300))
testfn(10, 100, 200, 300)
testfn(10, 100, 200, 300, y=50)

x=10, y=20, z=()
x=10, y=20, z=(100, 200, 300)
x=10, y=50, z=(100, 200, 300)

In [267]:
# From Python 3.4 onwards,
# In function definition, if you mix different forms of arguments:
# non-default-args, var-args, keyword-arguments

def testfn(x, *z, *a, y=20):
    print(f"{x=}, {y=}, {z=}")

testfn(10)
#testfn(10,, 100, 200, 300)
#testfn(10, z=(100, 200, 300))
testfn(10, 100, 200, 300)
testfn(10, 100, 200, 300, y=50)

SyntaxError: * argument may appear only once (1946186292.py, line 5)

In [271]:
def testfn(a, b, c, d):
    print(f"{a=}, {b=}, {c=}, {d=}")

testfn(10, 20, 30, 40)

values = 100, 200, 300, 400
testfn(values[0], values[1], values[2], values[3])
testfn(*values)

a=10, b=20, c=30, d=40
a=100, b=200, c=300, d=400
a=100, b=200, c=300, d=400

In [ ]:
def testfn(x, y):
    print(x, y)

testfn(10, 20) # x, y = 10, 20

def testfn(*args):
    print(args)

testfn(10, 20, 30) # args = 10, 20, 30

def testfn(x, y, z):
    print(x, y, z)

values = 10, 20, 30
testfn(*values)  # x, y, z = values

In [274]:
def testfn(w, x, y, z):
    print(f"{w=}, {x=}, {y=}, {z=}")

d = {"z": 40, "x": 20, "w": 10, "y": 30}
testfn(**d)

w=10, x=20, y=30, z=40

In [277]:
def create_connection(host, port, user, password, domain):
    print(f"Connecting to {host=}, {port=}, {user=}, {password=}, {domain=}")

config = {
    "user": "admin",
    "password": "secret",
    "domain": "org.python",
    "host": "localhost",
    "port": 6789
}

create_connection(**config) # Calling function with dictionary-arguments

Connecting to host='localhost', port=6789, user='admin', password='secret', domain='org.python'

In [281]:
def testfn(**d):
    print(d)

testfn(a=10, b=20, user="sam", logged_in=False)
testfn()
testfn(10, 20)

{'a': 10, 'b': 20, 'user': 'sam', 'logged_in': False}
{}

TypeError: testfn() takes 0 positional arguments but 2 were given

In [285]:
def testfn(*args, **kwargs):
    print(f"{args=}, {kwargs=}")

testfn()
testfn("john", 4.5, True)
testfn(a=10, b=20)
testfn(10, 20, x=30, y=40)

args=(), kwargs={}
args=('john', 4.5, True), kwargs={}
args=(), kwargs={'a': 10, 'b': 20}
args=(10, 20), kwargs={'x': 30, 'y': 40}

In [287]:
def print_with_time(*args, **kwargs):
    from time import ctime
    __builtins__.print(ctime(), ":", *args, **kwargs)

print_with_time(10, 20, 30, sep="\n")

Thu Sep 26 17:18:59 2024
:
10
20
30

In [291]:
# Python 3.7+
def testfn(a, b, *, c, d):
    print(a, b, c, d)

testfn(10, 20, c=30, d=40)

10 20 30 40

In [297]:
from threading import Thread
Thread(None, None, daemon=False)

In [302]:
def testfn(a, b, /, c):
    print(a, b, c)

testfn(10, 20, 30)
testfn(10, 20, c=40)
testfn(a=10, b=20, c=30)

10 20 30
10 20 40

TypeError: testfn() got some positional-only arguments passed as keyword arguments: 'a, b'

In [306]:
def square(x):
    return x*x

print(square(2))
print(square(3.4))
print(square(4+5j))
print(square("john"))

4
11.559999999999999
(-9+40j)

TypeError: can't multiply sequence by non-int of type 'str'

In [308]:
def square(x):
    if type(x) in (int, float, complex):
        return x*x
    else:
        return 0

print(square(2))
print(square(3.4))
print(square(4+5j))
print(square("john"))

4
11.559999999999999
(-9+40j)
0